h1{
    text-align: center;
    background-color: rgb(14, 18, 36);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2{
    background: rgb(182, 171, 171);
    text-align: center;
    color: rgb(44, 9, 9);
    font-size: 40px;
}

p{
    text-align: center;
    background: rgb(182, 171, 171);
}

strong em{
    color: darkred;
}

#mision{
    font-size: 20px;
}

#banner{
    width: 100%;
}

.principal{
    background: rgb(182, 171, 171);
    padding: 20px;
}

#tituloh2{
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: brown;
    padding: 30px;
 
}



.item{
    font-style: italic;
    
}

.diferenciales{
    background-color: rgb(255, 255, 255);
    
}

#fotobarbero{
    display: inline-block;
    width: 65%;

    
    background-color: rgb(189, 189, 189);
    
}

#lista1{
    display: inline-block;
    vertical-align: top;
    
    width: 30%;
    background-color: rgb(14, 18, 36);
    color: white;
    font-size: 20px;
    margin-top: 0%;
    padding-bottom: 20%;
    

}
